params {
    genome_fa      = '/media/leon/Polina/Genomes/hg38.chromFa/hg38_FOR_HISAT_OUTPUT.fa'
    hisat_index    = '/media/leon/DISK2/icig/grch38_snp_tran/genome_snp_tran'
    metadata       = 'in_vitro_metadata.csv'
    reads          = '/media/leon/DISK2/icig/done/fastqs/in_vitro/*{1,2}.fq.gz'
    outdir         = '/media/leon/DISK2/icig/done/in_vitro_results'
    threads        = 10
    more_threads   = 20
    gtf            = '/media/leon/DISK2/icig/Homo_sapiens.GRCh38.113.gtf'
    }

process {
    cpus           = 10
    memory         = '10GB'
    maxForks       = 4
    errorStrategy  = 'ignore'
    resourceLimits = [
        cpus: 50,
        memory: 50.GB
        ]
    }
