params {
    genome_fa      = '/media/leon/Polina/Genomes/hg38.chromFa/hg38.fa'
    bowtie_index   = '/media/leon/Polina/Genomes/hg38.chromFa/hg38'
    metadata       = 'sc_metadata.csv'
    atac_dir       = '/media/leon/Masha/ATAC/fastqs'
    mm_dir         = '/media/leon/Polina/atac_rna/raw_fastqs'
    outdir         = '/media/leon/Masha/ATAC/results'
    barcodes_dir   = '/media/leon/Masha/barcodes'
    alt_genomes    = '/media/leon/Polina/atac_rna/alt_genomes'
    threads        = 4
    more_threads   = 20
    atac_adapters  = '/usr/share/trimmomatic/NexteraPE-PE.fa'
    }

process {
    cpus           = 4
    memory         = '10GB'
    maxForks       = 4
    errorStrategy  = 'ignore'
    resourceLimits = [
        cpus: 50,
        memory: 50.GB
        ]
    }
